/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
label {
  color: white;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
