<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="e.g. Frodo">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="frodo@shire.com">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Your message here"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
</div>