# Flask for API
flask
flask_smorest
flask-sqlalchemy
flask-cors 
flask-migrate
flask-jwt-extended

# Database
sqlalchemy
pyodbc


# Data
numpy
pandas
scikit-learn

# NLP
sentence-transformers
transformers
torch
spacy
nltk

# Utility
python-dotenv