<discord-action-bar>
    <div></div>
    <div>
        <discord-icon-button name="upload" tooltip="Pussy" label="Upload" (click)="uploadClick()" />
    </div>
    <div></div>
    <div>
        <discord-icon-button name="update" tooltip="Little Girls" label="Update" (click)="updateClick()" />
    </div>
    <div></div>
    <div>
        <discord-icon-button name="delete" tooltip="Rape Meat" label="Delete" (click)="deleteClick()" />
    </div>
    <div>
        <discord-icon-button name="refresh" tooltip="Tight Young Pussy" label="Refresh" (click)="refreshClick()" />
    </div>
    <div>
        <discord-icon-button name="refresh" tooltip="Tight Young Pussy" label="Refresh" (click)="refreshClick()" />
    </div>
</discord-action-bar>