<!--
Copyright © 2025 Steven Peterson
All rights reserved.  

No part of this code may be copied, modified, distributed, or used  
without explicit written permission from the author.

For licensing inquiries or collaboration opportunities:

GitHub: https://github.com/peterss7  
LinkedIn: https://www.linkedin.com/in/steven-peterson7405926/
-->



<div class="container">
    <div class="inner-container">
        <div class="header-container">
            <discord-header [title]="title" [subtitle]="subtitle" />
        </div>
        <div class="center-row">
            <div class="outlet-container">
                <router-outlet></router-outlet>
            </div>
            <div class="sidebar-container">
                <discord-sidebar />
            </div>            
        </div>
        <div class="footer-container">
            <discord-footer />
        </div>
    </div>
</div>
